/*  YOU DON'T NEED TO TOUCH THIS FILE */
@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  margin: 15px 30px;
}

.logo {
  max-height: 3rem;
}

#name {
  color: red;
}

.purple {
  color: #750ff7;
}

button:focus {
  outline: none;
}
.menu {
  display: flex;
    position: relative;
    left: 80%;
    flex-wrap: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-description {
  color: black;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#image-desktop{
 
}

@media (max-width: 700px) 
{
  #image-desktop
  {
      display: none;
  }
}

.skills {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
  flex-direction: row-reverse;
}

@media (max-width: 700px) 
{
  .skills {
    flex-direction: column;
    }
  }

  .disabled {
    opacity: 30%;
  }

  .projects {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contents {
    display: flex;
  }
  @media (max-width: 700px) 
{
  .contents
  {
    flex-direction: column;
  }
}